<div class="authform row">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
    <h3>Забыли пароль?</h3>
    <p>Инструкцию по восстановлению придет к вам по почту в течение нескольких минут.</p>
    <div class="form-group">
      <%= f.label :email, 'Ваша почта' %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
     <%= f.submit 'Сбросить пароль', :class => 'button left' %>
  <% end %>
</div>
