<% @tickets.each do |ticket| %>
<div class="row">
    <div class="large-12 columns">
        <%= react_component('Ticket', {band: ticket.concert.band, seat: ticket.seat, row: ticket.row, date: ticket.concert.date}) %>
        <hr>
    </div>
</div>
<% end %>