@import "foundation_and_overrides";
@import "foundation";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 
 
 */

$primary: #446CB3;
$secondary: #ADB2BD;
$info: khaki;
$alert: crimson;
$success: #2E8B57;
$warning: #F89406;

.alert-close {
    -moz-transition-duration: 2s;
    -webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
    -moz-transition-timing-function: cubic-bezier(1,.04,.91,.8);
    -webkit-transition-timing-function: cubic-bezier(1,.04,.91,.8);
    -o-transition-timing-function: cubic-bezier(1,.04,.91,.8);
    transition-timing-function: cubic-bezier(1,.04,.91,.8);
}

.alert-box {
  padding: 0.8rem;
  border-width: 0 0 0 0.2rem;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  
  &.primary {
    border-left-color: $primary;
    background-color: scale-color($primary, $lightness: 20%);
    strong {
      color: $primary;
    }
  }
  &.secondary {
    border-left-color: $secondary;
    background-color: scale-color($secondary, $lightness: 20%);
    strong {
      color: $secondary;
    }
  }
  &.info {
    border-left-color: $info;
    background-color: scale-color($info, $lightness: 20%);
    strong {
      color: $info;
    }
  }
  &.alert {
    border-left-color: $alert;
    background-color: scale-color($alert, $lightness: 20%);
    strong {
      color: $alert;
    }
  }
  &.success {
    border-left-color: $success;
    background-color: scale-color($success, $lightness: 20%);
    strong {
      color: $success;
    }
  }
  &.warning {
    border-left-color: $warning;
    background-color: scale-color($warning, $lightness: 20%);
    strong {
      color: $warning;
    }
  }
}

main {
    padding-top: 3rem;
}


.top-bar:before, .top-bar:after {
    
}

a {
  color: darkBlue;
  text-decoration: underline;
}

.top-bar-section a {
  text-decoration: none;
}