<%# Rails flash messages styled for Zurb Foundation %>
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
      <div data-alert class="alert-box <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
        <div class="row"><%= content_tag :div, msg %>
          <a href="#" class="close"></a>
        </div>
      </div>
  <% end %>
<% end %>