<% if user_signed_in? %>
  <li><%= link_to 'Настройки', edit_user_registration_path %></li>
<% else %>
  <li><%= link_to 'Войти', new_user_session_path %></li>
  <li><%= link_to 'Зарегистрироваться', new_user_registration_path %></li>
<% end %>