<%# navigation styled for Zurb Foundation 5 %>
<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    <div class="top-bar-section">
      <ul>
        <%= render 'layouts/nav_links_for_auth' %>
      </ul>
      <ul class="right">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </nav>
</div>
